manifest {
    name = 'Single Exome Sample Variant Priorization'
    description = 'Workflow for single exome sequencing sample extraction from cohort VCF and variant priorization with Exomiser and LIRICAL'
    version = '0.0.1'
    author = 'Oskari Timonen <oskari.timonen@uef.fi>'
    defaultBranch = 'master'
    homePage = 'https://github.com/oqe/'
    nextflowVersion = '>=21.04.0'
}

// Path to conda enviroment file
process.conda = ""

// Default params
params {

    java_path = "java"
    compression_level = 5

    gatk_java_opts = "-Xms4000m"
    exomiser_java_opts = "-Xms4g -Xmx8g"
    lirical_java_opts = "-Xms4g -Xmx8g"

}


// limit computing resource by executor
executor {
    $local {
        cpus = 6
        memory = '40 GB'
    }
}


profiles {

    local {
        errorStrategy = 'retry'
        maxRetries = 2
        executor = 'local'
        time = '12h'
        cpus = 6
        memory = '40 GB'
    }

    singularity {
        
        singularity {
            
            enabled = true
            cacheDir = ""
            autoMounts = true

        }
        
        process {
            errorStrategy = 'retry'
            maxRetries = 3
            executor = 'local'
            
        }
    }

    slurm {
        
        process {
            errorStrategy = 'retry'
            maxRetries = 3
            executor = 'slurm'
            queue = ''
            queueSize = 20
            time = '12h'
            cpus = 18
            memory = '35 GB'
            clusterOptions = '--job-name=nextflow_slurm \
                --output= \
                --error= \
                --nodes=1 \
                --auks=yes'
        }
    }

}

timeline {
    enabled = true
}
