manifest {
    name = 'Single Exome Sample Variant Priorization'
    description = 'Workflow for single exome sequencing sample extraction from cohort VCF and variant priorization with Exomiser and LIRICAL'
    version = '0.0.1'
    author = 'Oskari Timonen <oskari.timonen@uef.fi>'
    defaultBranch = 'master'
    homePage = 'https://github.com/oqe/'
    nextflowVersion = '>=21.04.0'
}

// Path to conda enviroment file
process.conda = ""

// Default params
params {

    java_path = "java"
    compression_level = 5

    gatk_java_opts = "-Xms4000m"
    exomiser_java_opts = "-Xms4g -Xmx8g"
    lirical_java_opts = "-Xms4g -Xmx8g"

    /*
    GATK_SELECTVARIANTS {
        java_path = "java"
        java_opts = "-Xms4000m"
        compression_level = 5
    }

    EXOMISER {
        java_path = "java"
        java_opts = "-Xms4g -Xmx8g "
        compression_level = 5
    }

    LIRICAL_HTML {
        java_path = "java"
        java_opts = "-Xms4g -Xmx8g"
        compression_level = 5
    }
    */

}


// limit computing resource by executor
executor {
    $local {
        cpus = 24
        memory = '130 GB'
    }
}


profiles {
    singularity {
        
        singularity {
            
            enabled = true
            cacheDir = ""
            autoMounts = true

        }
        
        process {
            errorStrategy = 'retry'
            maxRetries = 3
            executor = 'local'
            /*
            withLabel:
            'gatk_container' {
                container = "broadinstitute/gatk:latest"
            }

            withLabel:
            'gitc_container' {
                container = "us.gcr.io/broad-gotc-prod/genomes-in-the-cloud:2.5.7-2021-06-09_16-47-48Z"
            }
            */
        }
    }

    slurm {
        
        process {
            errorStrategy = 'retry'
            maxRetries = 3
            executor = 'slurm'
            queue = ''
            queueSize = 20
            time = '12h'
            cpus = 18
            memory = '35 GB'
            clusterOptions = '--job-name=nextflow_slurm \
                --output= \
                --error= \
                --nodes=1 \
                --auks=yes'
            /*
            withLabel:
            'gatk4_container' {
                container = "broadinstitute/gatk:latest"
            }

            withLabel:
            'gitc_container' {
                container = "us.gcr.io/broad-gotc-prod/genomes-in-the-cloud:2.5.7-2021-06-09_16-47-48Z"
            }
            */
        }
    }

}

timeline {
    enabled = true
}
